<html>
    <head>
        <meta charset="utf-8">
        <title>Leaf Disease</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        <!-- Favicon -->
        <link href="../static/img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <!--<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">-->

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="../static/lib/animate/animate.min.css" rel="stylesheet">
        <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="../static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="../static/css/style.css" rel="stylesheet">
    </head>

    <body data-spy="scroll" data-target=".navbar" data-offset="51">
        <!-- Nav Bar Start -->
        <div class="navbar navbar-expand-lg bg-light navbar-light">
            <div class="container-fluid">
                <a href="/" class="navbar-brand">Leaf Disease</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                        <a href="/" class="nav-item nav-link">Home</a>
                       
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- Nav Bar End -->


        <!-- Hero Start -->
        
        <!-- Hero End -->


        <!-- About Start -->
       
        <!-- About End -->
        
        
        <!-- Service Start -->
       
        <!-- Service End -->
        
        
         <!-- Experience Start -->
        <div class="experience" id="experience">
            <div class="container">
                <header class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                    <p></p>
                    <h2>Testing</h2>
                </header>
			</div>
		</div>
        <!-- Job Experience End -->
        
        
        <!-- Banner Start -->
       
        <!-- Banner End -->


        <!-- Portfolio Start -->
        
        <!-- Portfolio End -->
        
        
        <!-- Banner Start -->
        
        <!-- Banner End -->
        
        
        <!-- Price Start -->
       
        <!-- Price End -->
        
        
        <!-- Testimonial Start -->
       
        <!-- Testimonial End -->


        <!-- Team Start -->
       
        <!-- Team End -->
        
        
        <!-- Contact Start -->
		<p></p>
		<p></p>
        <div class="wow fadeInUp" data-wow-delay="0.1s" id="contact">
            <div class="container-fluid">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-4"><img src="../static/img/tom.png" class="img-fluid"></div>
						
                        <div class="col-md-8">
                            <div class="contact-form">
                                <div id="success"></div>
								
								 <iframe src="/test_pro2?act={{act}}" width="100%" height="500" frameborder="0" scrolling="no"></iframe>
								
								
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact End -->


        <!-- Blog Start -->
       
        <!-- Blog End -->


        <!-- Footer Start -->
        <div class="footer wow fadeIn" data-wow-delay="0.3s">
            <div class="container-fluid">
                <div class="container">
                    <div class="footer-info">
                        <h2>Plants</h2>
                        <h3>India</h3>
                        <div class="footer-menu">
                            <p>+012 345 67890</p>
                            <p>plant@info.com</p>
                        </div>
                        <div class="footer-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="container copyright">
                    <p>&copy; <a href="#"></a> Leaf Disease<a href="https://htmlcodex.com"></a></p>
                </div>
            </div>
        </div>
        <!-- Footer End -->
        
        
        <!-- Back to top button -->
        <a href="#" class="btn back-to-top"><i class="fa fa-chevron-up"></i></a>
        
        
        <!-- Pre Loader -->
       <!-- <div id="loader" class="show">
            <div class="loader"></div>
        </div>-->

        
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="../static/lib/easing/easing.min.js"></script>
        <script src="../static/lib/wow/wow.min.js"></script>
        <script src="../static/lib/waypoints/waypoints.min.js"></script>
        <script src="../static/lib/typed/typed.min.js"></script>
        <script src="../static/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="../static/lib/isotope/isotope.pkgd.min.js"></script>
        <script src="../static/lib/lightbox/js/lightbox.min.js"></script>
        
        <!-- Contact Javascript File -->
        <!--<script src="mail/jqBootstrapValidation.min.js"></script>
        <script src="mail/contact.js"></script>-->

        <!-- Template Javascript -->
        <script src="../static/js/main.js"></script>
    </body>
</html>
